*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #d5d5ec;
    color:white;
    height:100vh;
}

.search-bar{
    margin: 20px 0 30px 0;
    display: flex;
    justify-content: flex-start;
}

.search-bar input{
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-bar input:focus{
    transform:scale(1.02);
    transition:0.2s;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width: 100px;
    background: #17274c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin: 20px 10px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.50);
}

.logo{
    width: 50px;
    height: 50px;
    margin: 20px;
    display: flex;
}

.sidebar ul{
    list-style:none;
    width:100%;
    text-align:center;
}

.sidebar ul li a{
    text-decoration:none;
    color:#9ca3af;
    font-size:18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    gap: 10px;
}

.sidebar ul li{
    margin:40px 0;
    display:flex;
    justify-content:center;
}

.icon{
    width:40px;
    height:auto;
    filter: brightness(0) invert(1);
}

.sidebar ul li a:hover{
    color:white;
    transition: scale(1.05);
}

.main{
    flex:1;
    padding:35px;
    display:flex;
    flex-direction:column;
}

.header{
    margin-bottom:30px;
}

.header h1{
    font-size:28px;
    font-weight:600;
}

.current-weather{
    background: #17274c;
    border-radius: 18px;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.3);
}

.weather-info{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.weather-info h2{
    color: #9ca3af;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.weather-info h1{
    font-size:65px;
    font-weight:700;
    margin-top:10px;
}

.weather-icon img{
    width:150px;
    height:150px;
    margin-right: 20px;
}

.forecast{
    display:flex;
    gap: 120px;
    justify-content: center;
    background:#17274c;
    padding:20px;
    border-radius:18px;
    margin-bottom:30px;
    box-shadow:0 10px 25px rgba(0,0,0,0.25);
}

.forecast-day{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
    color:#9ca3af;
    font-size:16px;
}

.forecast-day img{
    width:35px;
}

.forecast-day p:last-child{
    color:white;
    font-weight:bold;
}

.sensor-cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    margin-top: 10px;
}

.card{
    background: #17274c;
    border-radius:18px;
    padding:25px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,0.25);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 18px 35px rgba(0,0,0,0.35);
}

.card h2{
    font-size:18px;
    color:#9ca3af;
    margin-bottom:10px;
}

.card p{
    font-size:30px;
    font-weight:bold;
}

.sensor{
    width:40px;
    height:40px;
    object-fit:contain;
    display:block;
    margin:0 auto 15px auto;
}

@media(max-width:900px){

    .sensor-cards{
        grid-template-columns:1fr;
    }

    .current-weather{
        flex-direction:column;
        gap:20px;
        text-align:center;
    }

    .weather-info h1{
        font-size:50px;
    }
}