<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather Monitoring System</title>
	<link rel="stylesheet" href="../static/styles.css">
</head>

<body>

<div class="container">

	<div class="sidebar">
        <h2 class="logo">
            <img src="../images/logo.png" alt="Weather Logo">
        </h2>
		<ul>
			<li><a href="#">
                <img class="icon" src="../images/weather.png" alt="Weather Icon">
                Weather
            </a>
            </li>
			<li><a href="#">
                <img class="icon" src="../images/cities.png" alt="Cities Icon">
                Cities
            </a>
            </li>
			<li><a href="#">
                <img class="icon" src="../images/setting.png" alt="Settings Icon">
                Settings
            </a>
            </li>
		</ul>
	</div>

	<div class="main" id="dashboard">
		<div class="search-bar">
            <label for="searchBar"></label>
            <input id="searchBar" type="text" placeholder="Search city">
        </div>

        <div class="current-weather" id="weather-data">
            <div class="weather-info">
                <h2 id="location">Location</h2>
                <h1 id="main_temp">__ °C</h1>
                <p id="weather_status">Sunny</p>
                <p id="feels_like">Feels like __ °C</p>
            </div>

            <div class="weather-icon" id="weather-icon-container">
                <img id="weather_icon" src="../images/sunny.png" alt="Weather Icon">
            </div>
        </div>


        <div class="hourly-forecast">

            <div class="hour-row" id="hour-container"></div>

        </div>

        <div class="forecast">

            <div class="forecast-day">
                <p>Mon</p>
                <img src="../images/sunny.png" alt="Sunny Icon">
                <p>__°C</p>
            </div>

            <div class="forecast-day">
                <p>Tue</p>
                <img src="../images/mix_weather.png" alt="Mix weather">
                <p>__°C</p>
            </div>

            <div class="forecast-day">
                <p>Wed</p>
                <img src="../images/storm.png" alt="Storm">
                <p>__°C</p>
            </div>

            <div class="forecast-day">
                <p>Thu</p>
                <img src="../images/mix_weather.png" alt="Mix weather">
                <p>__°C</p>
            </div>

            <div class="forecast-day">
                <p>Fri</p>
                <img src="../images/sunny.png" alt="Sunny">
                <p>__°C</p>
            </div>

            <div class="forecast-day">
                <p>Sat</p>
                <img src="../images/mix_weather.png" alt="Mix weather">
                <p>__°C</p>
            </div>

            <div class="forecast-day">
                <p>Sun</p>
                <img src="../images/storm.png" alt="Storm">
                <p>__°C</p>
            </div>

        </div>

        <div class="sensor-cards">

            <div class="card" data-sensor="temperature">
                <img src="../images/temperature.png" class="sensor" alt="Temperature">
                <h2>Temperature</h2>
                <p id="temperature">__ °C</p>
            </div>

            <div class="card" data-sensor="humidity">
                <img src="../images/humidity.png" class="sensor" alt="Humidity">
                <h2>Humidity</h2>
                <p id="humidity">__ %</p>
            </div>

            <div class="card" data-sensor="pressure">
                <img src="../images/pressure.png" class="sensor" alt="Pressure">
                <h2>Pressure</h2>
                <p id="pressure">__ hPa</p>
            </div>

        </div>
	</div>
</div>
</body>
</html>